<%= simple_form_for recipe, data: { controller: "form-submit" } do |form| %>

<div class="my-3">
  <%= form.select :rating, (1..5).to_a, {},
        data: { controller: "star-rating", action: "click->submit#submit" },
        class: "form-select",
        name: "recipe[rating]" %>
</div>

  <%= form.submit "Rate !", class: "btn btn-success rounded-pill" %>
<% end %>
