<%= form_with model: comment,
              url: recipe_comments_path(comment.recipe),
              method: :post,
              data: { controller: "form-submit" } do |form| %>



<div class="my-3">
  <%= form.select :rating, (1..5).to_a, {},
        data: { controller: "star-rating", action: "click->submit#submit" },
        class: "form-select",
        name: "recipe[rating]" %>
</div>

  <%= form.submit "Rated", class: "btn btn-success" %>
<% end %>
