<%# Comment form %>

<%= simple_form_for [recipe,comment], data: { controller: "form-submit" } do |form| %>

  <div class="my-3">
    <%= form.input :content, label: "Your comment"%>
  </div>


  <%# Save %>

  <%= form.submit "Save Comment", class: "btn btn-success" %>
<% end %>
