<div class="container">
  <div class="header">
    <h1>YOUR INGREDIENTS</h1>
  </div>

  <%= render "form", ingredient: @ingredient || Ingredient.new %>

  <%= turbo_frame_tag "ingredients" do %>
    <%= render partial: "ingredient", collection: @ingredients %>
  <% end %>
</div>
