<div class="container">
  <div class="header">
    <h1>ingredients</h1>
    <div class="btn btn-primary">

    <%= link_to "New ingredient",
                new_ingredient_path,
                data: { turbo_frame: dom_id(Ingredient.new) } %>
    </div>
  </div>

  <%= turbo_frame_tag Ingredient.new %>

  <%= turbo_frame_tag "ingredients" do %>
    <%= render @ingredients %>
  <% end %>
</div>
