<div class="container">
  <div class="header">
    <h1>ingredients</h1>
    <%= link_to "New ingredient",
                new_ingredient_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Ingredient.new) } %>
  </div>

  <%= turbo_frame_tag Ingredient.new %>

  <%= turbo_frame_tag "ingredients" do %>
    <%= render @ingredients %>
  <% end %>
</div>
