
<div class="text-center mt-4">
  <h1 class="custom-title font-weight-bold text-white">EasyKitchen</h1>
</div>

<div class="container-home d-flex flex-column justify-content-center align-items-center text-center px-2">
  <h1 class="display-4 font-weight-bold">Recipes with what you have on your fridge</h1>
  <%= link_to "Cook now!", new_user_session_path, class: "btn btn-info btn-lg rounded-pill" %>
</div>

<div class="footer-home">
  <footer class="text-center w-100" style="bottom: 3px; margin-top: -50px; font-size: 17px;">
    <small>Powered by AI to make your life easier</small>
  </footer>
</div>
