.badge-custom {
  background-color: #A8D254;
  opacity: 0.5;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.badge-light {
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
