// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "mixins/media";

@import "config/reset";

@import "components/form";
@import "components/ingredient";
@import "components/btn_new_ingredient";
@import "components/search_bar_bookmarks_page";
@import "components/house_icon";

@import "components/visually_hidden";

@import "layouts/container";
@import "layouts/header";


/* Background Image for the Entire App */
body {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

