
<footer class="footer navbar-fixed-bottom">

  <div class="container">

    <nav>
      <ul class="d-flex justify-content-around align-items-center list-unstyled mb-0">
        <li>
          <%= link_to root_path do %>
            <i class="fa-solid fa-house fa-2x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to bookmarks_path do %>
            <i class="fa-solid fa-bookmark fa-2x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to ingredients_path do %>
            <i class="fa-solid fa-list"></i>
          <% end %>
        </li>
      </ul>
    </nav>

  </div>


</footer>
